*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: auto;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-family: 'Inter';
  font-weight: 400;
  color: #000;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

input {
  outline: none;
  background: inherit;
  border: none;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  resize: vertical;
}
